.content, .input-area {
  width: 50%;
  margin: 0.5em auto;
  border: 1px solid pink;
  min-width:30em;
}

.ulist {  
  display:inline-block;
  list-style: none;
  text-align: left;
  color: darkred;
  border:1px solid #ded;
  padding:6px 2em;

}

.ulist li input[type="checkbox"]:checked + label {
  color:gray;
  text-decoration: line-through;
}

.input-area {
  border:1px solid #ddd;
  padding:1em 0;
}