.content, .input-area {
  width: 50%;
  margin: 0.5em auto;
  border: 1px solid pink;
  min-width:30em;
}

.tabs {
  margin:0 4em;
  padding:0;
}

.tab-content {
  background-color:#eee;
  margin:0 1em;
  padding:0 8px;
  border:1px solid #eee;
  border-radius:6px;
  min-height:6em;
}

.tab-hdr {
  margin:0 4px;
  padding:2px 4px 10px;
  border-radius:6px 6px 0 0;

}

.tab-hdr:hover {
  background-color:#eee;

}

.tab-hdr.sel {
  background-color:#eee;
}

.tab-hdr > button {
  border:none;
  background-color:transparent;
  padding:6px;
  cursor: pointer;
  color:#666;
}

.tab-hdr.sel > button {
  color:#222;
  font-size:90%;
}

.ulist {
  display:inline-block;
  list-style: none;
  text-align: left;
  color: darkred;
  border:1px solid #ded;
  padding:6px 2em;

}
